.headerShadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.collapseOpen {
  transform-origin: top center;
  height: 350px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .courseContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0 25px;
  }
  .collapseOpen {
    height: 600px !important;
  }
}
